<form (ngSubmit)="submit()">
  <p>
    {{vehicle|json}}
  </p>
  <div class="form-group">
    <label for="vihicle">Maket</label>
    <select name="name" id="make" class="form-control" (change)="onMakechange()" [(ngModel)]="vehicle.makeId"> 
      <option value="">--Select Make --</option>
      <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId">
      <option value="model"></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{m.name}}</option>
    </select>
  </div>
  <p>Is this Vihicle Registered?</p>
  <label for="registered">
    <input name="isRegistered" id="registered" type="radio" value="true" [(ngModel)]="vehicle.isRegistered"> Yes
  </label>
  <label for="IsnoteRegistered">
    <input type="radio" name="isRegistered" id="IsnoteRegistered" value="false" [(ngModel)]="vehicle.isRegistered"> No
  </label>
  <h1>Features</h1>
  <div *ngFor="let f of features">
    <label for="feature{{f.id}}">
      <input type="checkbox" id="feature{{f.id}}" (change)="onFeatureToggle(f.id,$event)"> {{f.name}}
    </label>
  </div>
  <h1>Contact </h1>
  <div class="form-group">
    <label for="ContactName">Name</label>
    <input id="ContactName" type="text" typ="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="ContactName">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input id="phone" type="text" typ="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="ContactPhone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="text" typ="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="ContactEmail">
  </div>
  <button class="btn btn-primary">Save</button>
</form>